<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="None" />
    <authorization>
      <deny users = "?"/>
    </authorization>
    <httpModules>
      <add name="BasicAuthenticationModule" type="GCheckout.Util.BasicAuthenticationModule,GCheckout" />
    </httpModules> 
  </system.web>
  <appSettings>
    <add key="NotificationStore" value="C:\Inetpub\wwwroot\open-source-test" />
    <add key="GoogleMerchantID" value="536985267838521" />
    <add key="GoogleMerchantKey" value="Ku0RHxdns0e3Ca-Likqe3A" />
  </appSettings>
</configuration>
