<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleMerchantId" value="" />
    <add key="GoogleMerchantKey" value="" />
    <add key="NotificationListenerUrl" value="" />
    <add key="NotificationFile" value="" />
    <add key="TimeoutMilliseconds" value="" />
  </appSettings>
</configuration>
