@charset "utf-8";
/* CSS Document */
.cssClasssuscribe input.cssClasssubmitbtn {
	height:16px;
	width:22px;
	margin:0 0 0 10px;
	cursor:pointer;
}

.cssClassfeatured{
	height:1%;
	overflow:visible;
}

.lb {
	left:-1px;
	bottom:-2px;
}
.rt {
	right:-1px;
	top:-1px;
}
.rb {
	right:-1px;
	bottom:-2px;
}
.lbr {
	left:-1px;
	bottom:-2px !important;
}
.rtr{
	right:-2px !important;
	top:-1px;
}
.rbr {
	right:-2px !important;
	bottom:-2px !important;
}
.cssClassAdminMenu ul li ul li a {
	border-bottom:none;
}
.cssClassForgotPasswordPage {
	padding:12px;
}
.cssClassForgotPasswordBtnPadding {
	padding:0 0 10px 116px !important;
}
.cssClassMailTest a {
	margin:0 0 0 10px;
	left:270px;
	top:-18px;
}
.cssClassGridWrapper th.cssClassColumnIsActive {
	width:80px !important;
}
.cssClassContactInformation{top:-550px !important;}
.cssClassContactFormDetails .sfFormwrapper{top:-560px !important; }

legend { position: absolute; top: -.8em; left: .8em; }

.sfMenugroup { border:1px solid #ccc !important;}

#header-container .header-menu, div.menu-wrapper { background:#fff;}
.icon-arrow-s:before { line-height:45px !important; }

/*fix bug for button,input not clickable wrapped by label */

.sfButtonwrapper label input,.sfSelectarrow input, label[class*="icon-"] input { background:none; border:none; visibility:visible; position:absolute; }