
/* CSS Document */
.sfTutorialWrap ul li { width:15%;}
.icon-arrow-s:before { line-height:45px !important; }
.sfFooterwrapper { background:#111 !important;}
.ajax_tab_xp .ajax_tab_outer, .ajax_tab_xp .ajax_tab_active .ajax_tab_outer { background:none !important;}
.sfOrgImage img { visibility:visible !important; }
