.uploadAssignmentPnl/*zipped*/
{
	width:400px;
	height:180px;
	background-color:#fff;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
	
	
}
#uploadAssignmentDiv
{
	width:100%;
	height:110px;
	
	padding-top:10px;
	background-color:#fff;
}
.popUpPnl
{
	width:100%;
	height:500px;
	background-color:#fff;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
}
.conflictPopUpPnl
{
	width:450px;
	height:210px;
	background-color:#FD9D86;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
}
.labSchedulePopUpPnl
{
	width:650px;
	height:410px;
	background-color:#C1CDE6;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
}
#scheduleConflictDiv
{
	height:140px;
	width:100%;
}
#popUpDiv
{
	width:100%;
	
	
	padding-top:10px;
	background-color:#fff;
}
.height150px
{
	height:150px;
}
.height250px
{
	height:250px;
}
#messageDiv
{
	width:50px;
	height:22px;
	color:#297449;
	float:left;
	text-align:center;
}
#closeBtnDiv
{
	width:200px;
	float:right;
	height:22px;
	margin-right:5px;
}

.errorDivCls
{
	border: #a60000 1px solid;
	height: 25px;
	background-color: #ffcccc;
	text-align: center;
}
.successDivCls
{
	border: #297449 1px solid;
	height: 25px;
	background-color: #bfe8d0;
	text-align: center;
}
.errorLbl
{
	color: #a60000;
}
.successLbl
{
	color:#297449;
}
.tabPanel
{
	min-height:100px;
}
.modalBackground
{
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
width:100%;
}

.loading-visible  
  {  
    
   border:2px solid #874B62;
    background-color:#ffffff; 
    padding:10px; 
    position: absolute;  
    width:200px;  
    height:20px;  
    top:200px;  
    display:block;
    z-index:12;
    left:45%;
   
   
  }  
  
  .loading-visible_clock  
  {  
    
   
   
    padding:10px; 
    position: absolute;  
    width:200px;  
    height:20px;  
    top:200px;  
    display:block;
    z-index:12;
    left:45%;
   
   
  }  
  .backgroundFilter
  {  
    z-index:11;  
   border:1px solid #000;
    color:#ffffff;  
   
   
    
    background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display:block;

    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;
    
    /*set the width and height to 100% of the screen*/
    width:150%;
    height:100%;
    text-align:center;
    padding-left:40%;

   
  }  
  
  .activityLoader
  {
  	width:178px;
  	height:166px;
  	float:left;
  	margin-left:10px;
  }
  
  /*---Error Notification Style----*/
  .errorPopUpPnl
{
	width:350px;
	height:100px;
	background-color:#FD9D86;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
}
#errorMessageDiv
{
	height:40px;
	width:100%;
	overflow:auto;
}
/*---Success Notification Style----*/
  .successPopUpPnl
{
	width:350px;
	height:100px;
	background-color:#BCD966;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:3px 3px 3px #333;
	-webkit-box-shadow:3px 3px 3px #333;
}
#successMessageDiv
{
	height:40px;
	width:100%;
	overflow:auto;
}