<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InboxDir" value="C:\notifications\inbox" />
    <add key="InProcessDir" value="C:\notifications\inprocess" />
    <add key="SuccessDir" value="C:\notifications\success" />
    <add key="FailureDir" value="C:\notifications\failure" />
  </appSettings>
</configuration>
