<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="3.4.3" targetFramework="net45" />
  <package id="ImageResizer.Mvc" version="3.4.3" targetFramework="net45" />
  <package id="ImageResizer.MvcWebConfig" version="3.4.3" targetFramework="net45" />
  <package id="ImageResizer.Plugins.Watermark" version="3.4.3" targetFramework="net45" />
  <package id="ImageResizer.WebConfig" version="3.4.3" targetFramework="net45" />
</packages>