<?xml version="1.0"?>
<configuration>
	<!--
	If the config section exists, it will be used and the App Settings Keys will be ignored.   
	-->
	<configSections>
		<sectionGroup name="Google">
			<section name="GoogleCheckout" type="GCheckout.Util.GCheckoutConfigHandler,GCheckout" />
		</sectionGroup>
	</configSections>

	<Google>
		<GoogleCheckout
			SandboxMerchantID="235235235235"
			SandboxMerchantKey="FWQR@$SDSDGSDG"
			ProductionMerchantID="235263454573"
			ProductionMerchantKey="SAFSFWQR124!FSD"
			PlatformID="124248135971073"
			Environment="Sandbox"
			Logging="false"
			LogDirectory="c:\test\"
			Currency="USD"
		/>
	</Google>

	<appSettings>
		<add key="GoogleMerchantID" value="235235235235" />
		<add key="GoogleMerchantKey" value="FWQR@$SDSDGSDG" />
		<add key="GoogleEnvironment" value="Sandbox" />
		<add key="PlatformID" value="235235235235" />
		<add key="Logging" value="false" />
		<add key="LogDirectory" value="C:\test\" />
		<add key="Currency" value="USD" />
	</appSettings>

	<connectionStrings/>

	<!--optional section used for authentication on callbacks-->
	<system.web>
		<!--
		<httpModules>
			<add name="SecurityHttpModule" type="GCheckout.Util.BasicAuthenticationModule, GCheckout"/>
		</httpModules>
		-->
	</system.web>

</configuration>
