<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Google">
			<section name="GoogleCheckout" type="GCheckout.Util.GCheckoutConfigHandler,GCheckout" />
		</sectionGroup>
	</configSections>
	
	<Google>
		<GoogleCheckout
			SandboxMerchantID="25235626236"
			SandboxMerchantKey="sdgsdgsdg"
			ProductionMerchantID="557347325253"
			ProductionMerchantKey="sdgsghdjfgjeesdf"
			PlatformID="124248135971073"
			Environment="Sandbox"
			Logging="true"
			LogDirectory="c:\test\"
      LogDirectoryXml="c:\test\Xml\"
			Currency="GBP"
			UseProxy="true"
			ProxyHost="http://www.sitename.com:2345/"
			ProxyUserName="35235"
			ProxyPassword="235235"
			ProxyDomain="mydomain"
		/>
	</Google>
	
	<appSettings>
		<add key="GoogleMerchantID" value="25235626236" />
		<add key="GoogleMerchantKey" value="sdgsdgsdg" />
		<add key="GoogleEnvironment" value="Sandbox" />
		<add key="PlatformID" value="557347325253" />
		<add key="Logging" value="false" />
		<add key="LogDirectory" value="C:\test\" />
    <add key="LogDirectoryXml" value="C:\test\Xml\" />
		<add key="Currency" value="GBP" />
		<add key="GoogleUseProxy" value="true" />
		<add key="GoogleProxyHost" value="http://www.sitename.com:2345/" />
		<add key="GoogleProxyUserName" value="sdklfaslf" />
		<add key="GoogleProxyPassword" value="@#$ASF@#$%F" />
		<add key="GoogleProxyDomain" value="mydomain" />
	</appSettings>
</configuration>
