.pg-normal
{
    color: black;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}
.pg-selected
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}