#facebox {
	position: fixed;
	top:15%;
	left:35%;
	z-index: 9000;
	text-align: left;
-webkit-box-shadow:0 17px 40px rgba(0,0,0,0.35); box-shadow:0 17px 40px rgba(0,0,0,0.35); background:#fff ;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding:10px;
}
#facebox .popup {
	position:relative;
}
#facebox .content {
	display:table;
	width: 600px;
	padding: 10px;
	background: #fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
#facebox .content > p:first-child {
	margin-top:0;
}
#facebox .content > p:last-child {
	margin-bottom:0;
}
#facebox .close {
	position:absolute;
	top:-27px;
	right:-23px;
}
#facebox .close img {
}
#facebox .close:hover img {
}
#facebox .loading {
	text-align: center;
}
#facebox .image {
	text-align: center;
}
#facebox img {
	border: 0;
	margin: 0;
}
#facebox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}
.facebox_hide {
	z-index:-100;
}
.facebox_overlayBG {
	background-color: #000;
	z-index: 99;
}
#facebox .content #editorDiv {
	border:1px solid #000 !important;
}
#facebox .content ul{ overflow:hidden;}
#facebox .content ul li{ float:left; width:50%; }
#facebox .content ul li{ font:normal 12px/22px Tahoma, Geneva, sans-serif; color:#666; }
#facebox .cssClassPageNumber{ height:20px; margin:10px 0 0 0;}